<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">YelpCamp</p>
            <ul class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </ul>
        </div>
        <div class="col-md-9">
            <!-- campground -->
            <div class="thumbnail">
                
                <figure>
                    <img src="<%= campground.image %>"  alt="<%= campground.name %>" title="<%= campground.name %>" class="img-responsive">
                </figure>
                
                <div class="caption-full">
                    <h5 class="pull-right"><b>$<%= campground.price %>/night</b></h5>
                    <h3><a href="#"><%= campground.name %></a></h3>
                    <p><%= campground.description %></p>
                    <p>submited by <b><em><%= campground.author.username %></em></b></p>
                    
                    <!-- check first user existance, then if exist will check for ownership -->
                    <% if(currentUser && campground.author.id.equals(currentUser._id)) {%>
                        <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-warning">Edit campground</a>

                        <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST" class="block-inline">
                            <button  type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    <% } %>

                </div>
            </div>
            <!-- campground -->

            <!-- comments -->
            <% if(campground.comments.length === 0) { %>
                <p class="text-right">
                    <a href="/campgrounds/<%= campground._id %>/comments/new" class="btn btn-primary">Add a comment</a>
                </p>
            <% } else { %>
                <h4>Comments</h4>
                <div class="well">

                    </p><p class="text-right">
                        <a href="/campgrounds/<%= campground._id %>/comments/new" class="btn btn-primary">Add a comment</a>
                    </p>
                    
                    <hr>
                    <% campground.comments.forEach(function(comment){ %>
                        <div class="row">

                            <div class="col-md-12">
                                <b><%= comment.author.username %></b>
                                <span class="pull-right">10 days ago</span>

                                <p>
                                    <%= comment.text %>
                                </p>

                                <!-- check first user existance, then if exist will check for ownership -->
                                <% if(currentUser && comment.author.id.equals(currentUser._id)) {%>
                                    <a 
                                        href="/campgrounds/<%= campground.id %>/comments/<%= comment._id %>/edit" 
                                        class="btn btn-xs btn-warning"
                                    >Edit comment</a>

                                    <form action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST" class="block-inline">
                                        <button  type="submit" class="btn btn-xs btn-danger">Delete comment</button>
                                    </form>
                                <% } %>

                            </div>
                        
                        </div>
                    <% }); %>

                </div>
            <% } %>

            <p class="text-right">
                <a href="/campgrounds">View all campgrounds</a>
            </p> 
            <!-- comments -->



        </div>
    </div>

</div>

<% include ../partials/footer %>
