<% include partials/header %>


<div class="ui main text container segment">
    <header class="ui huge header">Our most popular Blogs</header>
    
    <p><a href="/blogs/new" class="ui primary button big">Add a new blog post</a></p>

    <div class="ui top attached segment">
        <div class="ui divided items">

            <!-- Listing blogs -->
            <% blogs.forEach(function(blog){ %>
                <div class="item">
                    <figure class="image">
                        <img src="<%= blog.image %>" alt="<%= blog.image %>">
                    </figure>
                    <div class="content">
                        <h4 class="header">
                            <a href="/blogs/<%= blog._id %>"><%= blog.title %></a>
                        </h4>
                        <p class="meta">
                            <span><%= blog.created.toDateString() %></span>
                        </p>
                        <div class="description">
                            <%- blog.body %>...
                        </div>

                        <p class="extra">
                            <a href="/blogs/<%= blog._id %>" class="ui floated basic button">More info<i class="right chevron icon"></i></a>
                        </p>
                    </div>
                </div>
            <% }) %>

        </div>
    </div>

    



    <div>

    </div>

</div>


<% include partials/footer %>
